<nav class="navbar navbar-light bg-light">
    <a href="/" id="back_to_home_btn">Back to Home</a>
    <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="" loading="lazy">
    </a>
    <ul class="list-unstyled">
        <li></li>
    </ul>
</nav>

<%  if params[:id].present? %>
    <section id="banner_section">
        <h1>Know a pet that needs a home?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque id lorem nisi.</p>
    </section>
<%  end %>

<%= render :partial => "pets/forms/manage_pet_form", :locals => { :pet_id => params[:id], :pet => @pet[:result] } %>